
body {
	margin: auto;
	text-align: left;
	padding: 0 50px 0 50px;
	background: #222!important;
  border-top: 40px solid #222;
  border-bottom: 40px solid #222;
}

body, div, a, input, select, button, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	background: #d1d1d1;
}