<img src="images/users/me.jpg">
<p></p>
<b>Bob Week</b>
<p>
  My research focuses on using quantitative genetic theory to investigate the evolutionary stability of biological communities. To do this I develop rigorous mathematical models of phenotypic evolution that incorporate species interactions and methods for inferring parameters of these models.
</p>
<p>
My CV is available <a href="files/cv.pdf" target="_blank">here</a>.
</p>
<b>Eh, Saigon?</b>
<p>
Yep, a city in southern Viet Nam. Did you know Saigon has some of the world's most beautiful cafes?
  <ul>
    <li><a href="http://www.nomadicnotes.com/travel-blog/ho-chi-minh-city-cafes/">Nomadic Notes</a></li>
    <li><a href="http://nomadcapitalist.com/2016/01/11/best-cafes-in-se-asia-for-high-achieving-nomads/">Nomad Capitalist</a></li>
    <li><a href="http://www.adventurefaktory.com/vietnam-the-ultimate-saigon-cafes-list/">Adventure Faktory</a></li>
  </ul>
</p>

<p>
  A good advice though is probably bringing your headphones with you since Asian music taste evolves around ”Criminal” by Britney Spears and the like.
</p>

<img src="images/recursion.jpg">
