<img src="images/users/meprof.jpg">
<p></p>
<b><font color=#C1C1C1>Bob Week</font></b>
<p><font color=#A9A9A9>
  My research focuses on using quantitative genetic theory to investigate the evolutionary stability of biological communities. To do this I develop rigorous mathematical models of phenotypic evolution that incorporate species interactions and methods for inferring parameters of these models.
</font></p>
<p><font color=#A9A9A9>
My CV is available <a href="files/cv.pdf" target="_blank">here</a>.
</font></p>
<b>Looking for something to read?</b>
<p>
  <ul>
    <li><a href="http://www.macmillanlearning.com/Catalog/product/introductiontocoevolutionarytheory-firstedition-nuismer">Introduction to Coevolutionary Theory</a></li>
    <li><a href="https://global.oup.com/academic/product/maximum-entropy-and-ecology-9780199593422?prevSortField=1&sortField=1&start=0&resultsPerPage=100&prevNumResPerPage=20&lang=en&cc=us">Maximum Entropy and Ecology</a></li>
  </ul>
</p>

