<img src="images/users/meprof.jpg">
<p></p>
<b><font color=#C1C1C1>Bob Week</font></b>
<p><font color=#A9A9A9>
I am a student at the University of Idaho working on a PhD under Scott Nuismer. My degree program is <a href="http://www.uidaho.edu/sci/bcb"><font color=#8C8C8C>Bioinformatics and Computational Biology (BCB)</font></a> which is housed within the <a href="http://www.ibest.uidaho.edu/"><font color=#8C8C8C>Institute for Evolutionary Studies (IBEST)</font></a>. 
</font></p>
<p><font color=#A9A9A9>
My research focuses on using quantitative genetic theory to investigate the evolutionary stability of biological communities. To do this I develop rigorous mathematical models of phenotypic evolution that incorporate species interactions and methods for inferring parameters of these models.
</font></p>
<p><font color=#A9A9A9>
My CV is available <a href="files/cv.pdf" target="_blank"><font color=#8C8C8C><u>here</u></font></a>.
</font></p>
<b><font color=#A9A9A9>Looking for something to read?</font></b>
<p>
  <ul>
    <li><a href="http://www.macmillanlearning.com/Catalog/product/introductiontocoevolutionarytheory-firstedition-nuismer"><font color=#8C8C8C>Introduction to Coevolutionary Theory</font></a></li>
    <li><a href="https://global.oup.com/academic/product/maximum-entropy-and-ecology-9780199593422?prevSortField=1&sortField=1&start=0&resultsPerPage=100&prevNumResPerPage=20&lang=en&cc=us"><font color=#8C8C8C>Maximum Entropy and Ecology</font></a></li>
  </ul>
</p>

